@size:100% 100%;
@noRepeat: no-repeat;
body {
  margin: 0;
  overflow: hidden;
}
img {
  width: 100px;
  height: 100px;
}
.scoreBoard {
  margin: 10px auto;
  text-align: center;
  .score {
    color: red;
    font-weight: 600;
  }
}
.box {
  width: 1000px;
  height: 1600px;
  margin:  0 auto;
  overflow: hidden;
  box-sizing: border-box;
  .item {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    float: left;
  }
}

// 蛇头
.snakeHead {
  // background: red !important;
  background-image: url("./cxk.png");

  background-size: @size;
  background-repeat:  @noRepeat;
}

//
.snakeBody {
  background-image: url("./ball.jpg");
  background-size: @size;
  background-repeat:  @noRepeat;
}
.food {
  background-image: url("./hoop.png");
  background-size: @size;
  background-repeat:  @noRepeat;
}

