body {
    background: linear-gradient(to right, #000, #CCC);
}
.box {
    background: yellow;
    box-sizing: padding-box;
    width: 300px;
    margin:  0 auto;
    display: flex;
    height: auto;
    flex-direction: column;
    .row {
        height: 100px;
        width: 300px;
        background: color(pink);
        display: flex;
        padding: 5px;
        flex: 1;
        .item {
            background: red;
            height: 100px;
            width: 100px;
            margin: 0px 3px;
            &::after {
                content: attr(prize);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
        #switch {
            cursor: pointer;
        }
        .active {
            background: orange;
        }
        
    }
}

